# EDA Notebook for exploring ASUC Accounts List Dataset

In [1]:
import pandas as pd
import numpy as np
from AEOCFO.Transform.Processor import ASUCProcessor

In [5]:
raw = pd.read_csv('experimental_data/FinancialAccountList.csv')
print(f"Shape {raw.shape}")

Shape (11993, 1)

In [6]:
raw.head(5)

                                                                                                                                                                                Financial Account List
External ID Account Name                                       Organization Owner                Parent Account                                Encumbered Funds Available Funds                Balance
NaN         ASUC STUDENT SIDE GL                               ASUC STUDENT SIDE GL              NaN                                           $0.00            $0.00                       $157443.62
            v* 30-XXXX UNDERGRADUATE ACTIVITIES                LEAD Center Student Organizations ASUC STUDENT SIDE GL                          $0.00            $0.00                       $136220.75
            v* 30-34-852-XXXX PUBS - Publications SUMMARY      1 ARCHIVE 30-34 2014-15 and prior v* 30-XXXX UNDERGRADUATE ACTIVITIES           $0.00            $0.00                            $0.00
            v* 30-34-852-8615-XXXX The Academian Times SUMMARY 1 ARCHIVE 30-34 2014-15 and prior v* 30-34-852-XXXX PUBS - Publications SUMMARY $0.00            $0.00                            $0.00

# Task 1: Build a function that chcecks if an organization is a blue heart club